.file-message {
  max-width: 200px;
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: var(--default-border-radius);
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: var(--default-box-shadow);
}

.file-message span {
  border-left: 1px solid var(--text-color);
  padding-left: 10px;
  font-size: var(--default-p-size);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  color: black;
  border-left: 1px solid black;
}
.file-message .icon {
  color: black;
  font-size: var(--default-icon-size);
}
@media (max-width: 900px) {
  .file-message {
    max-width: 180px;
    display: flex;
    justify-self: left;
    padding: 6px 10px;
  }
  .file-message span {
    font-size: 12px;
  }
  .file-message .icon {
    color: black;
    font-size: 22px;
  }
}
