.text-message {
  max-width: 300px;
  width: fit-content;
  background-color: var(--background-color2);
  color: var(--text-color);
  border-radius: var(--default-border-radius);
  padding: 10px;
  font-size: var(--default-p-size);
}

.text-message .time {
  display: flex;
  justify-self: flex-end;
  margin-top: 5px;
  font-size: var(--default-time-size);
  color: var(--background-color);
}
/* ///////// Sender styling ////////// */
.text-message.sender {
  background-color: var(--background-color);
  color: black;
}
.text-message.sender .time {
  color: black
}
