:root {
  --primary-color: #f5f5f5db;
  --primary-color2: #123458b3;
  --secondary-color: #D4C9BE;
  --background-color: #00d0e7;
  --background-color2:rgb(255, 255, 255);
  --background-color3:rgba(221, 251, 254, 0.373);
  --default-icon-size:24px;
  --headings-color: var(--background-color);
  --shadow-low1: #00d0e74a;
  --shadow-low2: #006bcf00;
  --shadow-low3: #91f3fe;
  --default-box-shadow: 0 0 2px #00000095;
  --left-space: 3%;
  --mid-space: 94%;
  --right-space: 3%;
  --default-border: 1px solid var(--headings-color);
  --text-color: white;
  --font-family-base: var(--font-montserrat);
  --default-p-size: 16px;
  --default-time-size:10px;
  --default-border-radius: 2px;
  --gradient-one: linear-gradient(to bottom right, #e7e7e725, #000000);
}
.bg-wrapper {
  width: 100%;
  min-height: 100vh;
  background: var(--primary-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}

